<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SmartyModule Test Suite">
            <directory>tests/SmartyModuleTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./log/coverage.xml"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
